- if @query != "tag:inbox"
  %h1
    Search: 
    = @query
- else 
  %h1 Inbox 

%form{:action => "/", :method => "get"}
  %input{:type => "text", :name => "search", :value => @query}
  %input{:type => "submit", :value => "search"}
  %a{:href => "/reload"} check mail


%table 
  - @messages.each do |message|
    %tr
      %td.from{:title => message.from}= message.short_from
      %td.subject
        %a{:href => "/thread/#{message.thread_id}", :id => message.thread_id}= message.subject
      %td.when= message.when
